<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/frontend::head}">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400|Roboto:400,300,400italic,500,700|Roboto+Mono">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="../static/css/login-register.css" th:href="@{/css/login-register.css}" rel="stylesheet"/>
    <link href="../static/css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet"/>
</head>

<body>

<header>
    <div th:replace="~{fragments/frontend::navbar}"></div>
    <div th:replace="~{fragments/frontend::heroes}"></div>
</header>

<main>
    <div th:replace="~{fragments/frontend::breadcrumb}"></div>
    <div th:replace="~{fragments/frontend::filter}"></div>
    <div class="container pt-5">
        <div class="d-flex justify-content-center">
            <div class="spinner-border spinner-border" role="status" id="spiner-loading-card">
            </div>
        </div>

        <card-sorter id="cards" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-3">
            <a href='#' class='codelab-card selectable' id="codelab-card-add">
                <card class='codelab-card-add d-none'>
                    <img width='65px' height='65px' src='../static/images/add.svg' th:src='@{/images/add.svg}'/>
                </card>
            </a>
        </card-sorter>
    </div>
</main>

<!-- MODAL ADD LAB -->
<div class="modal fade" id="addLabModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm bài Lab</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="add-form">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="docID" class="col-form-label">Link của bài thực hành:</label>
                        <input type="text" class="form-control" id="docID">
                    </div>

                    <div class="form-check d-none" id="updateCheckboxdiv">
                        <input class="form-check-input" type="checkbox" value="" id="updateCheckbox">
                        <label class="form-check-label" for="updateCheckbox">
                            Cập nhật từ Google Docs
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="cateID" class="col-form-label">Chủ đề:</label>
                        <select class="form-control" id="cateID"  th:with="categories=#{categories}">
                            <option style="display:none">
                            <option th:each="cate:${#strings.arraySplit(categories,',')}" th:value="${cate}" th:text="${cate}"></option>
                            <option th:value="Project" th:text="#{project}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="description" class="col-form-label">Mô tả:</label>
                        <textarea class="form-control" id="description" required></textarea>
                    </div>

                    <div class="form-check d-none lpx" id="featureCheckboxdiv">
                        <input class="form-check-input" type="checkbox" value="" id="featureCheckbox">
                        <label class="form-check-label" for="featureCheckbox">
                            Feature
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="mr-auto text-danger" id="modal-error"></span>
                    <button type="button" class="btn btn-primary" id="add-lab-button" onclick="createLab()">Thêm</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- MODAL ADD ROOM -->
<div class="modal fade" id="addRoomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Các phòng đã tạo:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border spinner-border" role="status" id="rooms-spinner"></div>
                    </div>
                    <table class="table table-borderless d-none" id="table-rooms">
                        <tbody id="tbody-rooms">
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="add-room-button">Tạo phòng mới</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--<main>-->
<!--    <div th:replace="~{fragments/frontend::breadcrumb}"></div>-->
<!--    <div class="container pt-5" th:fragment="grid">-->
<!--        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">-->
<!--            <div class="col" th:each="movie : ${list}">-->
<!--                <div class="card p-0">-->
<!--                    <div class="imgPlaceHolder">-->
<!--                        <a href="movie.html" th:href="@{/movie(id=${movie.getId()})}" class="text-decoration-none">-->
<!--                            <img th:src="${movie.getPoster()}" class="card-img-top">-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div class="card-body">-->
<!--                        <a href="movie.html" th:href="@{/movie(id=${movie.getId()})}" class="text-decoration-none">-->
<!--                            <h5 class="card-title movie-title" th:text="${movie.getTitle()} + ' ('+ ${movie.year} + ')'">Title (yyyy)</h5>-->
<!--                        </a>-->
<!--                        <p class="card-text movie-description" th:text="${movie.getPlot()}">Description</p>-->
<!--                        <p class="card-text movie-cast">-->
<!--                            <small class="text-muted" th:each="cast,iterStat : ${movie.getCast()}" th:text="${cast}+ ${!iterStat.last ? ', ' : ''}">Cast1, Cast2</small>-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <nav th:if="${totalPages>=2}">-->
<!--            <ul class="pagination justify-content-center mt-3">-->
<!--                <li th:if="${page >1}" class="page-item"><a class="page-link" href="#" th:href="@{${url}(page=1)}">First</a></li>-->
<!--                <li th:if="${page >1}" class="page-item"><a class="page-link" th:href="@{${url}(page=${page}-1)}">&laquo;</a></li>-->
<!--                <li th:if="${page > 2}" class="page-item"><a class="page-link" th:href="@{${url}(page=${page}-2)}"><span th:text="${page}-2">1</span></a></li>-->
<!--                <li th:if="${page > 1}" class="page-item"><a class="page-link" th:href="@{${url}(page=${page}-1)}"><span th:text="${page}-1">2</span></a></li>-->
<!--                <li class="page-item active"><span class="page-link" th:text="${page}">3</span></li>-->
<!--                <li th:if="${page < totalPages - 1}" class="page-item"><a class="page-link" th:href="@{${url}(page=${page}+1)}"><span th:text="${page}+1">4</span></a></li>-->
<!--                <li th:if="${page < totalPages - 2}" class="page-item"><a class="page-link" th:href="@{${url}(page=${page}+2)}"><span th:text="${page}+2">5</span></a></li>-->
<!--                <li th:if="${page < totalPages}" class="page-item"><a class="page-link" th:href="@{${url}(page=${page}+1)}">&raquo;</a></li>-->
<!--                <li th:if="${page < totalPages}" class="page-item"><a class="page-link" th:href="@{${url}(page=${totalPages})}">Last</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->
<!--</main>-->

<script th:inline="javascript">
    var page = [[${page}]];
</script>
<footer th:replace="~{fragments/frontend::footer}">
    <div class="bg-light text-center text-lg-start mt-5">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            @VnCodelab | Pham Xuan Lam | lampx@neu.edu.vn
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.8.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.8.1/firebase-ui-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-firestore.js"></script>

    <script th:src="@{/js/main.js}" src="../static/js/main.js"></script>
</footer>

</body>

</html>