<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <meta name="theme-color" content="#4F7DC9">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400|Roboto:400,300,400italic,500,700|Roboto+Mono">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://storage.googleapis.com/codelab-elements/codelab-elements.css">
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link href="../static/css/login-register.css" th:href="@{/css/login-register.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="../static/css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet"/>

</head>
<body>
<lab th:utext="${lab.html}"></lab>
<!--TODO test-->
<!--<google-codelab codelab-gaid="" id="title" title="Title" environment="web" feedback-link="">-->
<!--    <google-codelab-step label="Step 1" duration="0"></google-codelab-step>-->
<!--    <google-codelab-step label="Step 2" duration="0"></google-codelab-step>-->
<!--    <google-codelab-step label="Step 3" duration="0"></google-codelab-step>-->
<!--    <google-codelab-step label="Step 4" duration="0"></google-codelab-step>-->
<!--    <google-codelab-step label="Step 5" duration="0"></google-codelab-step>-->
<!--    <google-codelab-step label="Step 6" duration="0"></google-codelab-step>-->
<!--</google-codelab>-->

<div id="divtoshow" style="display: none; z-index: 2000" class="speech-bubble">Noi dung ben trong</div>
<!--TOP BUTTON-->
<div id="topButton">

    <!--Room button-->
    <button id="btnRiseHand" type="button" class="btn btn-secondary ml-2 d-none" data-toggle="button">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" width="16" height="16" fill="#ffffff">
            <circle cx="21.732" cy="5.5" r="1.5"/>
            <circle cx="17.732" cy="2.5" r="1.5"/>
            <circle cx="13.732" cy="1.5" r="1.5"/>
            <circle cx="9.732" cy="3.5" r="1.5"/>
            <path d="M20.232,5.5V12c0,0.276-0.224,0.5-0.5,0.5s-0.5-0.224-0.5-0.5V2.5h-3V11c0,0.276-0.224,0.5-0.5,0.5
		c-0.276,0-0.5-0.224-0.5-0.5V1.5h-3V11c0,0.276-0.224,0.5-0.5,0.5s-0.5-0.224-0.5-0.5V3.5h-3V16l-2.025-2.771
		c-0.6-0.925-1.771-1.235-2.629-0.705c-0.855,0.542-1.067,1.724-0.475,2.646c0,0,3.266,4.943,4.658,7.059S11.408,26,15.625,26
		c6.982,0,7.607-5.392,7.607-7s0-13.5,0-13.5H20.232z"/>
        </svg>
        <span class="hideSmall">Giơ tay</span>
    </button>
    <button id="btnSubmit" type="button" class="btn btn-danger ml-2 d-none">
        <?xml version="1.0" encoding="iso-8859-1"?>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffffff" viewBox="0 0 36.375 36.376">
            <path d="M33.938,25.626v8.25c0,1.382-1.119,2.5-2.5,2.5h-26.5c-1.381,0-2.5-1.118-2.5-2.5v-8.25c0-1.381,1.119-2.5,2.5-2.5
            s2.5,1.119,2.5,2.5v5.75h21.5v-5.75c0-1.381,1.119-2.5,2.5-2.5S33.938,24.245,33.938,25.626z M12.456,11.766l3.232-3.231v17.467
            c0,1.381,1.119,2.5,2.5,2.5s2.5-1.119,2.5-2.5V8.535l3.23,3.231c0.487,0.488,1.129,0.731,1.77,0.731s1.279-0.243,1.768-0.731
            c0.978-0.978,0.978-2.561,0-3.535l-7.5-7.498c-0.977-0.977-2.559-0.977-3.535,0l-7.5,7.498c-0.977,0.976-0.977,2.559,0,3.535
            C9.895,12.743,11.479,12.743,12.456,11.766z"/>
        </svg>
        <span class="hideSmall">Nộp bài</span>
    </button>

    <button id="btnReport" type="button" class="btn btn-danger ml-2 d-none">
        <?xml version="1.0" encoding="iso-8859-1"?>

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16" height="16" fill="#ffffff">
            <path d="M0,0h142.4v142.4H0V0z"/>
            <path d="M187.7,0h323.9v142.4H187.7V0z"/>
            <path d="M0,184.8h142.4v142.4H0V184.8z"/>
            <path d="M187.7,184.8h323.9v142.4H187.7V184.8z"/>
            <path d="M0,369.6h142.4V512H0V369.6z"/>
            <path d="M187.7,369.6h323.9V512H187.7V369.6z"/>
        </svg>
        <span class="hideSmall">Báo cáo</span>
    </button>

    <button id="btnRoom" type="button" class="btn btn-primary ml-2" data-toggle="collapse" data-target="#collapse-online">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            <path fill-rule="evenodd"
                  d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
        </svg>
        <span class="hideSmall">Thảo luận</span> <span class="badge badge-secondary bg-secondary" id="numOnline">0</span>
    </button>


    <!--More Button-->
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split d-none" id="btnMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            data-offset="0,25"></button>
    <div class="dropdown-menu shadow border-0" id="dropdown-signout">
        <a class="dropdown-item" href="#">Hướng dẫn</a>
    </div>

    <!--Profile Button-->
    <img class="ms-2 rounded-circle user d-none p-1 profilePicture" width="41px" height="41px" data-toggle="collapse" data-target="#collapse-profile">
    <div class="ms-2 userName user d-none" data-toggle="collapse" data-target="#collapse-profile"></div>
    <button id="btnLogin" type="button" class="btn btn-primary d-none">Đăng nhập</button>

</div>

<!--MODAL CREATE ROOM-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo phòng học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form id="add-form" th:action="@{/save}">
                <div class="modal-body">
                    Chức năng này tạo ra một phòng học để theo dõi các học viên thực hành trên từng bước
                </div>
                <div class="modal-footer">
                    <span class="mr-auto text-danger" id="modal-error"></span>
                    <button type="submit" class="btn btn-primary" id="create-room-button">Tạo</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--MODAL LOGIN-->
<div class="modal fade login" id="loginModal">
    <div class="modal-dialog login animated">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Đăng nhập với</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="content">
                        <div class="social">
                            <a id="google_login" class="circle google" href="#">
                                <i class="bi bi-google"></i>
                            </a>
                            <a class="circle ">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a class="circle ">
                                <i class="bi bi-twitter"></i>
                            </a>
                        </div>

                        <div class="division">
                            <div class="line l"></div>
                            <span>hoặc</span>
                            <div class="line r"></div>
                        </div>
                        <div class="error"></div>
                        <div class="form loginBox">
                            <form method="" action="" accept-charset="UTF-8">
                                <input id="email1" class="form-control" type="text" placeholder="Email" name="email">
                                <input id="password1" class="form-control" type="password" placeholder="Password" name="password">
                                <input class="btn btn-default btn-login" type="button" value="Đăng nhập" onclick="loginAjax()">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="content registerBox" style="display:none;">
                        <div class="form">
                            <form method="" html="{:multipart=>true}" data-remote="true" action="" accept-charset="UTF-8">
                                <input id="name" class="form-control" type="text" placeholder="Họ và tên" name="name">
                                <input id="email2" class="form-control" type="text" placeholder="Email" name="email">
                                <input id="password2" class="form-control" type="password" placeholder="Mật khẩu" name="password">
                                <input id="password_confirmation" class="form-control" type="password" placeholder="Viết lại mật khẩu" name="password_confirmation">
                                <input class="btn btn-default btn-register" type="button" value="Đăng ký" name="commit" onclick="createAccount()">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="forgot login-footer">
                    <a href="javascript: showRegisterForm();" style="color: #0a53be">Tạo tài khoản</a>
                </div>
                <div class="forgot register-footer" style="display:none">
                    <span>Đã có tài khoản</span>
                    <a href="javascript: showLoginForm();" style="color: #0a53be">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--TOAST-->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1005">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img width="15px" height="15px" class="me-2" src="../static/images/chat-right-text-fill.svg" th:src="@{/images/chat-right-text-fill.svg}"/>
            <strong class="me-auto" id="toastTitle">Bootstrap</strong>
            <button type="button" class="btn-close" data-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toastBody">
            Hello, world! This is a toast message.
        </div>
    </div>
</div>

<!--COLLAPSE CHAT ROOM-->
<div class="collapse container row rounded-lg overflow-hidden shadow " id="collapse-online" aria-expanded="true">
    <!-- Users box-->
    <div class="col-4 px-0 chat-leftside">
        <div class="messages-box">
            <div class="list-group rounded-0">
                <a onclick='showChat(this,"all")' class="list-group-item list-group-item-action active text-white rounded-0 media uchat" id="chat0">
                    <img src="../static/images/people-fill.svg" th:src="@{/images/people-fill.svg}" alt="user" width="50" class="rounded-circle">
                    <div class="media-body">Tất cả</div>
                </a>
                <div id="usersChat">
                </div>
            </div>
        </div>

    </div>
    <!-- Chat Box-->
    <div class="col-8 px-0 main-chat">
        <div class="px-4 chat-box bg-white" id="chatMessages">

        </div>

        <!-- Typing area -->
        <div class="bg-light input-group">

            <input id="txtMessage" type="text" autocomplete="off" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 bg-light">
            <div class="input-group-append">
                <button id="button-addon2" class="btn btn-link" onclick="sendMessage()">
                    <img width="30px" height="30px" src="../static/images/send-button.svg" th:src="@{/images/send-button.svg}"/>
                </button>
            </div>

        </div>

    </div>
</div>

<!--COLLAPSE PROFILE-->
<div class="collapse shadow" id="collapse-profile">
    <div class="profile">
        <img class="rounded-circle profilePicture p-4">
        <div class="profile-info">
            <h6 class="m-1 text-primary" id="profileName"></h6>
            <span class="m-1" id="profileEmail"></span>
            <a href="#" class="btn btn-sm btn-primary m-1" id="signout">Đăng xuất</a>
        </div>

    </div>
</div>

<!-- MODAL UPLOAD -->
<div id="uploadModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nộp bài</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method='post' action='' enctype="multipart/form-data" id="upload-form">
                    <div class="form-group files color">
                        <input type='file' name='files' id='files' multiple>
                    </div>

                    <div class="d-flex justify-content-center">
                        <input type='button' class='btn btn-info d-none' value='Upload' id='btn_upload'>
                    </div>
                    <span id="msg"></span>
                </form>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border" role="status" id="upload-spinner">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL REPORT -->
<div id="reportModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Báo cáo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="d-flex justify-content-center">
                    <div class="spinner-border spinner-border" role="status" id="report-spinner">
                    </div>
                </div>

                <table class="table table-hover d-none" id="table-report">
                    <tbody id="tbody-report">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="https://storage.googleapis.com/codelab-elements/native-shim.js"></script>
<script src="https://storage.googleapis.com/codelab-elements/prettify.js"></script>
<script src="https://storage.googleapis.com/codelab-elements/codelab-elements.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-database.js"></script>

<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-messaging.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.4.3/firebase-firestore.js"></script>


<script type="text/javascript" src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" src="../static/js/avatar.js" th:src="@{/js/avatar.js}"></script>
<script type="text/javascript" src="../static/js/bootstrap.bundle.js" th:src="@{/js/bootstrap.bundle.js}"></script>

<script type="text/javascript" src="../static/js/user.js" th:src="@{/js/user.js}"></script>
<script type="text/javascript" src="../static/js/lab.js" th:src="@{/js/lab.js}"></script>

</body>
</html>
